.fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

/* share style  */
.primary-btn{
    padding: 17px 34px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}
.primary-color1{
    color: rgba(14, 14, 14, 0.6);
}
.primary-color2{
    color: rgba(14, 14, 14, 0.8);
}
.border{
    border: 1px solid rgba(14, 14, 14, 0.15);
}




/* nav style  */
body{
    background-color:rgba(245, 245, 245, 1);
    margin: 0;
}
nav{
    padding: 35px 160px;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    margin: 0;
}
.nav-btn{
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    color: rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    cursor: pointer;
}

/* banner section  */
main{
    max-width: 1280px;
    margin: 0 auto;
}
.banner{
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    max-width: 1280px;  
    margin: 0 auto;
    height: 560px;
    border-radius: 16px;
}
.banner-text{
    margin: 117px 60px;
}
.banner-title{
    font-size: 24px;

}
.banner-description{
    font-size: 56px;
    font-weight: 700px;
    margin: 24px 0;
}

.banner-image{
    margin-right: 60px;
    margin-top: 80px;
}

/* pillars of bangladesh  */
.pillars-bd{
    margin-top: 80px;
}
.pillars-title{
    font-size: 40px;
}
.pillars-boxes{
    display: flex;
    gap: 24px;
}
.pillars-box{
    max-width: 302px;
    height: 200px;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillars-box>img{
    height: 62px;
    width: 62px;
}
.pillars-box>.pillars-box-title{
    font-size: 18px;
    color: rgba(14, 14, 14, 0.8);
}
.pillars-box>.pillars-box-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}


/* vision and future  */
.vision{
    margin-top: 80px;
    margin-bottom: 80px;
}
.vision-title{
    font-size: 40px;
    font-weight: 700px;
}
.vision-description{
    line-height: 24px;
}

.vision-boxes{
    gap: 24px;
    display: flex;
}
.vision-box1{
    background-color: rgba(84, 144, 245, 0.2);
    max-width: 410px;
    border-radius: 16px;
    padding: 24px;
    line-height: 24px;
}
.vision-box1>button{
    background-color: rgba(84, 144, 245, 1);
}
.vision-box2{
    background-color: rgba(198, 228, 214, 1);
    max-width: 410px;
    border-radius: 16px;
    padding: 24px;
    line-height: 24px;
}
.vision-box2>button{
    background-color: rgba(9, 161, 92, 1);
}
.vision-box3{
    background-color: rgba(247, 235, 207, 1);
    max-width: 410px;
    border-radius: 16px;
    padding: 24px;
    line-height: 24px;
}
.vision-box3>button{
    background-color: rgba(255, 194, 57, 1);
}

.vision-box1>.vision-box-title,.vision-box2>.vision-box-title,.vision-box3>.vision-box-title{
    font-size: 20px;
    margin: 24px 0 12px 0;
}
.vision-box1>.vision-box-description,.vision-box2>.vision-box-description,.vision-box3>.vision-box-description{
    font-size: 16px;
    margin-bottom: 30px;
}


/* quotation section  */
.quotation{
    background-color: white;
    padding: 48px 24px;
    border-radius: 16px;
    line-height: 24px;
    margin-bottom: 80px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 40px left 24px;
}
.quot-title{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/* recent news  */
.recent-news{
    line-height: 24px;
    /* margin-bottom: 50px; */
}
.recent-news-text>h1{
    font-size: 40px;
    font-weight: 700px;
}
.recent-news-text>.description{
    margin-bottom: 32px;
}
.recent-news-box{
    display: flex;
    background-color: white;
    border-radius: 24px;
    margin-bottom: 24px;
}
.recent-news-box>img{
    border-radius: 24px;
    height: 306px;
    width: 408px;
    margin: 48px 32px 48px 48px;
}
.recent-news-box>.box-text{
    margin: 56px 48px 56px 0;
    line-height: 24px;
}
.box-text>.title{
    font-size: 32px;
    margin: 15px 0;
}
.box-text>img{
    margin: 0;
}
.box-text>p{
    margin:5px 0 12px 0;
}
.box-text>button{
    margin-top: 10px;
}
/* article 2 */
.article2>.box-text{
    margin: 56px 48px;
}
.article2>img{
    margin-left: 0;
}

/* Donate section  */
.donate{
    text-align: center;
    line-height: 24px;
    padding: 82px;
}
.donate>title{
    font-size: 40px;
    font-weight: 700px;
}
.donate>.card-box{
    display: flex;
    justify-content: space-evenly;
}
.donate>.card-box>.card{
    /* border: 1px solid black; */
    padding: 40px;
    border-radius: 16px;
}
.donate>.card-box>.card>.amount{
    margin: 0;
}

.donate>.input-box>input{
    /* width: 85%; */
    font-size: 20px;
    padding: 20px 370px;
    /* border-radius: 16px; */
    margin: 32px;
    color: black;
}

/* Subscribe newsletter  */
.newsletter{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px;
    border-radius: 24px;
    margin-bottom: 80px;
    line-height: 24px;
}
.newsletter>.title{
    font-size: 40px;
    font-weight: 700px;
}
.newsletter>.description{
    text-align: center;
}
.newsletter>.subscribe-box{
    display: flex;
    justify-content: center;
}
.newsletter>.subscribe-box>input{
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 40px;
    padding-right: 403px;
    font-size: 16px;
    font-weight: 500px;
}
.newsletter>.subscribe-box>button{
    border-radius: 0 8px 8px 0;
}
